{{ 'reset_password_email.header'|trans({ '%site_name%': site_name() }) }}

{% for link in links %}
    {{~ 'reset_password_email.entry'|trans({ '%username%': link.username }) }}
    {{~ link.url }}
    {{~ "\n" }}
{%- endfor %}

{{ 'reset_password_email.footer'|trans }}
