{% extends 'submission/base.html.twig' %}
{% from '_macros/alert.html.twig' import alert %}
{% from '_macros/form.html.twig' import button_row %}
{% from 'comment/_macros.html.twig' import comment %}

{% block title purge ? 'title.purge_comment'|trans : 'title.delete_comment'|trans %}

{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ comment(comment) }}

  {{ form_start(form) }}
    {{ form_row(form.reason) }}

    {% if purge %}
      {{ alert('flash.purge_comment_warning'|trans, 'warn') }}
    {% endif %}

    {{ button_row(purge ? 'action.purge'|trans : 'action.delete'|trans) }}
  {{ form_end(form) }}
{% endblock %}
